# OS / Logs
.DS_Store
*.log

# IntelliJ / Android Studio
*.iml
.idea/

# Gradle / Build outputs
.gradle/
build/
**/build/

# Android Studio generated
captures/
.externalNativeBuild/
.cxx/

# App artifacts
*.apk
*.aab
output-metadata.json

# Local config (SDK path etc.)
local.properties
/local.properties

# Secrets / API keys
google-services.json
app/src/main/res/values/api_key.xml

# Keystore files
*.jks
*.keystore

# Android Profiling
*.hprof

# Kotlin (misc)
.kotlin/
.kotlin/errors

